<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="it">

    <head>
        <title>layout sito</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="body">

        <header class="mainHeader">
            <img src="" alt="">

            <ul>
                
                <li><a href="#" title="pagina home">Home</a></li>
                <li><a href="#" title="About me">Presentazione</a></li>
                <li><a href="#" title="Hobbies">Hobbies</a></li>
                                
            </ul>

        </header>

        <div class="mainContent">
            
            <div class="content"
                    
                 <article class="">
                     
                     <header>
                         
                     </header>
                     
                </article>
             
            </div>
            
        </div>
            
    </body>

</html>
